@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-syne: var(--font-syne);
  --font-instrument: var(--font-instrument);
  --font-mono: var(--font-mono);
}
